@using Humanizer
@model Web.Models.Home.HomeIndexModel


<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body max-content-height">
                @foreach (var announcement in Model.Announcements)
                {
                    <div>
                        <h5>@announcement.Category.Name</h5>
                        <p>@announcement.Body</p>

                        <div class="d-flex justify-content-between">
                            <span class="text-info">@announcement.User.UserName.Split("@").First()</span>
                            <span class="text-black-50">@announcement.PublishedAt.Humanize()</span>
                        </div>
                        @if (Model.Announcements.Count > 0 && announcement.Id != Model.Announcements.Last().Id)
                        {
                            <hr/>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body">
                <h5>Module Health</h5>
                 @foreach (var repository in Model.Repositories)
                 {
                     <h6>@repository.Name</h6>
                     <ul class="list-unstyled">

                     @foreach (var commit in repository.Commits)
                     {
                         <span class="text-info">@commit.Hash</span> <span class="text-black-50">@commit.Message</span>

                     }
                     </ul>
                 }
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                @foreach (var product in Model.Products)
                {
                    <div>
                        <h5>@product.Name</h5>
                        <ul class="list-unstyled m-0">
                            @foreach (var task in product.Tasks)
                            {
                                <li class="text-dark">@task.Status.Name @task.Name</li>
                            }
                        </ul>
                        @if (Model.Products.Count > 0 && product.Id != Model.Products.Last().Id)
                        {
                            <hr/>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>